@font-face{
    font-family:"Noto Sans JP";
    src:url("../assets/fonts/NotoSansJP-Regular.ttf") format("truetype");
}

@font-face{
    font-family:"Zen Maru Gothic";
    src:url("../assets/fonts/ZenMaruGothic-Regular.ttf") format("truetype");
}

@font-face{
    font-family:"Shippori Mincho";
    src:url("../assets/fonts/ShipporiMincho-Regular.ttf") format("truetype");
}

@font-face{
    font-family:"Kaisei Decol";
    src:url("../assets/fonts/KaiseiDecol-Regular.ttf") format("truetype");
}

@font-face{
    font-family:"Yuji Syuku";
    src:url("../assets/fonts/YujiSyuku-Regular.ttf") format("truetype");
}

@font-face{
    font-family:"Hachi Maru Pop";
    src:url("../assets/fonts/HachiMaruPop-Regular.ttf") format("truetype");
}

@font-face{
    font-family:"Kiwi Maru";
    src:url("../assets/fonts/KiwiMaru-Regular.ttf") format("truetype");
}

@font-face{
    font-family:"Kosugi Maru";
    src:url("../assets/fonts/KosugiMaru-Regular.ttf") format("truetype");
}

@font-face{
    font-family:"DotGothic16";
    src:url("../assets/fonts/DotGothic16-Regular.ttf") format("truetype");
}
@font-face{
    font-family:"Limelight";
    src:url("../assets/fonts/Limelight-Regular.ttf") format("truetype");
}